
<mat-card class='light' style="height: 100%;">
  <mat-card-header>
    <mat-card-title class="view-card-title">
      <h1>Games</h1>
    </mat-card-title>
  </mat-card-header>
<div class="mat-elevation-z8">
  <table style="width: 100%;" mat-table [dataSource]="gamelist">

    <!-- Position Column -->
    <ng-container matColumnDef="timePlayed">
      <th mat-header-cell *matHeaderCellDef > When </th>
      <td mat-cell *matCellDef="let game"> {{game.timePlayed}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef > Phone </th>
      <td mat-cell *matCellDef="let game"> {{game.phoneNumber}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="try1">
      <th mat-header-cell *matHeaderCellDef> First Try </th>
      <td mat-cell *matCellDef="let game"> {{game.try1}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="try2">
      <th mat-header-cell *matHeaderCellDef> Second Try </th>
      <td mat-cell *matCellDef="let game"> {{game.try2}} </td>
    </ng-container>
    <ng-container matColumnDef="scenario">
      <th mat-header-cell *matHeaderCellDef> Scenario </th>
      <td mat-cell *matCellDef="let game"> {{game.scenario}} </td>
    </ng-container>
    <ng-container matColumnDef="prize">
      <th mat-header-cell *matHeaderCellDef> Prize </th>
      <td mat-cell *matCellDef="let game"> {{game.prize}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator
  [length]="3"
   [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons 
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>

</mat-card>

